* {
    margin: 5px;
    font-family: Tahoma, sans-serif;
    background-color: #f9f9ff;
    background-image: radial-gradient(#92d4f6 0.7000000000000001px, #f9f9ff 0.7000000000000001px);
    background-size: 14px 14px;
}
/* Fiz esse fundo usando o site  */

.geral {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h1{
    color: #92D4F6;
    text-decoration: underline 2px;
}

hr{
    border: #92D4F6 solid 1px;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left {
    color: #34a0d6;
    width: 50%;
    text-align: center;
}

.right {
    width: 512px;
    height: 250px;
    background: url('img/montanha.jpg');
}