* {
    margin: 0px;
    padding: 0px;
}


#primeiro{
    color: brown;
}
#segundo{
    color: green;
}
#terceiro{
    color: hotpink;
}
#quarto{
    color: black;
}
#quinto{
    color: blue;
}
#sexto{
    color: yellow;
}
