* {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

img {
    width: 15%;
    height: auto;
    margin: 8px;
    border: 4px solid cadetblue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    justify-content: center;
}