* {
    margin: 0;
}

button {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .4rem;
    background-color: lightgray;
    border: 3px solid cadetblue;
}

button img {
    width: 2rem;
    height: 2rem;
}