<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        />
        <style>
            body {
                padding-top: 10vh;
            }
        </style>
        <title>Construindo com EJS</title>
    </head>
    <body class="container">
        <header>
            <nav class="navbar nav-bar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">EJS</a>
            </nav>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhar com arquivos EJS</p>
            </div>
        </main>

        <footer>
            <p class="text-center text-muted">
                Feito com determinação by Monique Caggiano 🍄
            </p>
        </footer>
    </body>
</html>
