<!DOCTYPE html>
    <%- include("../partials/head"); %>
    <body class="container">
        <%- include("../partials/header", {pagina: "sobre"}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Estudante do primeiro período de Análise e Desenvolvimento de sistemas na Universidade Anhembi Morumbi. Pretendo me aprofundar em desenvolvimento web, aprender novas línguas e acredito que com uma oportunidade conseguirei descobrir a área que mais me cativa.</p>
            </div>
        </main>
        <%- include("../partials/footer"); %>
    </body>
</html>
